* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    width: 80%;
    height: auto;
}

main img {
    width: 100%;
    height: auto;
}

header nav .container-fluid a {
    font-size: 10px;
    font-weight: bold;
}

 h1 {
    font-size: 30px;
    font-weight: bold;
}

header h5 {
    font-size: 11px;
} 

main h3 {
    font-size: 20px;
}

footer h4 {
    font-size: 13px;
}

footer h6 {
    font-size: 10px;
}

p {
    font-size: 11px;
}

.line {
    height: 2px;
    width: 50px;
}

.line-two {
    height: 1px;
    width: 10px;
    margin: 0px 4px;
}

.border-none {
    border: none;
}

.icons {
    width: 40px;
    height: auto;
}



/* COLOR */
.background-darkgrey {
    background-color: rgb(68, 64, 64);
}

.background-aqua {
    background-color: rgb(82, 214, 179);
}

.text-aqua {
    color: rgb(82, 214, 179);
}



/***** MEDIA QUERY *****/

@media screen and (min-width: 576px) {

    .p-lr {
        padding: 0 60px;
    }

	header img {
        width: 100%;
        height: auto;
    }

    header nav .container-fluid a {
        font-size: 13px;
    }

    header nav .container-fluid .nav-item a {
        font-size: 9px;
    }
    
    header h1 {
        font-size: 34px;
    }
    
    header h5 {
        font-size: 13px;
    } 
    
    main h3 {
        font-size: 23px;
    }
    
    .line {
        width: 80px;
    }
    
    .line-two {
        width: 13px;
    }
}

@media screen and (min-width: 768px) {

    .p-lr {
        padding: 0 100px;
    }

    header nav .container-fluid a {
        font-size: 15px;
    }

    header nav .container-fluid .nav-item a {
        font-size: 10px;
    }

    .line {
        width: 90px;
    }

    .line-two {
        width: 13px;
    }

	footer h4 {
        font-size: 15px;
    }
    
    footer h6 {
        font-size: 11px;
    }
    
    p {
        font-size: 12px;
    }
}